{% if paginate.pages > 1 %}
<ul class="pagination clearfix">
{% if paginate.previous %}
  <li><a href="{{ paginate.previous.url }}" class="prev">&laquo; Previous</a></li>
{% else %}
  <li><span>{{ back_word }}</span></li>
{% endif %}
  <li>Page {{ paginate.current_page }} of {{ paginate.pages }}</li>
{% if paginate.next %}
  <li><a href="{{ paginate.next.url }}" class="next">Next &raquo;</a></li>
{% else %}
  <li><span>{{ next_word }}</span></li>
{% endif %}
</ul>
{% endif %}
