<section id="blog">
  <div class="article content-wrapper">
    <h2>{{ article.title }}<span class="date" style="display: block;">{{ article.published_at | date: "%B %d %Y" }}{% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span>{% endif %}</span></h2>
    <p>
      {{ article.content }}
    </p>
  </div>

  <!-- Begin social icons -->
  {% include 'like-article' with product %}
  <!-- End social icons -->
</section>

