<section class="cart_page">

  <!--TODO what does empty cart look like? -->
  <!-- Begin empty cart -->
  {% if cart.item_count == 0 %}
  <div class="row">
    <div class="span12 expanded-message">
      <h2>Your cart is empty</h2>
    </div>
  </div>
  <!-- End empty cart -->

  <!-- Begin cart -->
  {% else %}
  <form action="/cart" method="post" id="cartform">
    {% for item in cart.items %}
    <div class="cart_item">
      <div class="cart_view">
        <a href="{{ item.product.url }}">
          <img src="{{ item.product.featured_image | product_img_url: 'master' }}"  alt="{{ item.product.title }}" />
        </a>
      </div>
      <div class="description">
        <a href="{{ item.product.url }}">
          <h2>{{ item.product.title }}</h2>
        </a>
        {% if item.product.variants.size > 1 %}
        <div class="size_box">
          <h6>Options</h6>
          {{ item.variant.title }}
        </div>
        {% endif %}
        <div class="quantity_box">
          <h6>Quantity</h6>
          <input type="text" size="4" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="item-quantity" />
        </div>
      </div>
      <div class="remove_item">
        <a href="/cart/change?line={{ forloop.index }}&quantity=0">
          <div class="remove_symbol"> + </div>
        </a>
      </div>
      <div class="cart_price">
        {{ item.line_price | money }}
      </div>
    </div>
    {% endfor %}

    <div class="cart_footer">
      <input type="submit" id="update-cart" class="button update_cart" name="update" value="UPDATE CART" />
      <a class="button continue_shopping" href={{ shop.url }} title="Continue Shopping">CONTINUE SHOPPING</a>
      <h2 class="checkout_total">{{ cart.total_price | money }}</h2>
      <input type="submit" id="checkout" class="button checkout_button" name="checkout" value="CHECKOUT" />
    </div>

  </form>
  {% endif %}
  <!-- End cart -->

</section>

