<section>

  <h1>{{ page.title }}</h1>

  <div class="content-wrapper">
    {{ page.content }}

    {% form 'contact' %}
    {% if form.posted_successfully? %}
    <div class="successForm feedback">
      <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
    </div>
    {% endif %}

    <!-- TODO: apply error style to form fields?  also on sign-in & sign-up -->
    {% if form.errors %}
    <div class="errorForm feedback">
      <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
      {% for field in form.errors %}
        <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
      {% endfor %}
    </div>
    {% endif %}

    <div id="contactFormWrapper">
      <p>
        <label>Your Name:</label><br/>
        <input type="text" id="contactFormName" name="contact[name]" placeholder="John Doe" value="{{form.name}}" />
      </p>
      <p>
        <label>Email:</label><br/>
        <input type="email" id="contactFormEmail" name="contact[email]" placeholder="john@example.com" value="{{form.email}}" class="{% if form.errors.messages['email'] %}error{% endif %}" />
      </p>
      <p>
        <label>Phone Number:</label><br/>
        <input type="telephone" id="contactFormTelephone" name="contact[phone]" placeholder="555-555-1234" value="{{form.phone}}" />
      </p>
      <p>
        <label>Message:</label><br/>
        <textarea rows="15" cols="70" id="contactFormMessage" name="contact[body]" placeholder="Your Message" class="{% if form.errors.messages['message'] %}error{% endif %}">{{form.body}}</textarea>
      </p>
      <p>
        <input type="submit" id="contactFormSubmit" value="Send" class="button dark" />
      </p>
    </div>
    {% endform %}
  </div>

</section>


